 <appSettings>
  <add key="ApiKey" value=""/>
  <add key="TokenKey" value=""/>
  <add key="TokenAgeHour" value=""/>
  <add key="podio_app_id" value=""/>
  <add key="podio_app_token" value=""/>
  <add key="podio_client_id" value=""/>
  <add key="podio_client_secret" value=""/>
  <add key="podio_applicants_app_id" value=""/>
  <add key="podio_view_id" value=""/>
  <add key="ftpUsername" value=""/>
  <add key="ftpPassword" value=""/>
  <add key="ftpHost" value=""/>
  <add key="databaseSchema" value="" />
</appSettings>